BOT_TOKEN=
BOT_USERNAME=DejaWorldBot
OWNER_TELEGRAM_USERNAME=dejaxx_a
OWNER_TELEGRAM_ID=
ADMIN_TELEGRAM_ID=
ADMIN_TELEGRAM_IDS=
DATA_DIR=

CLIPS_LINK=
PREMIUM_LINK=
ONLYFANS_LINK=
FANSLY_LINK=
CUSTOMS_LINK=

THRONE_LINK=
CASHAPP_LINK=
PAYPAL_LINK=https://paypal.me/Darinamess
VENMO_LINK=https://venmo.com/Dejjavu
WISHLIST_LINK=
GIFT_FORM_LINK=
SITE_SPOIL_LINK=
COFFEE_GIFT_LINK=
DRINKS_GIFT_LINK=
SNACK_GIFT_LINK=
FLOWERS_GIFT_LINK=
MANICURE_GIFT_LINK=
PEDICURE_GIFT_LINK=
GLAM_GIFT_LINK=
SHOPPING_GIFT_LINK=
VACATION_GIFT_LINK=
WORSHIP_100_LINK=
WORSHIP_250_LINK=
WORSHIP_500_LINK=
WORSHIP_1000_LINK=
WORSHIP_CUSTOM_LINK=
REUP_10_LINK=
REUP_25_LINK=
REUP_50_LINK=
REUP_100_LINK=
REUP_250_LINK=
REUP_MONTHLY_LINK=
TOPUP_PAYMENT_LINK=
TOPUP_10_PRICE=$15
TOPUP_10_STARS=750
TOPUP_30_PRICE=$35
TOPUP_30_STARS=1750
TOPUP_60_PRICE=$65
TOPUP_60_STARS=3250
DAY_PASS_PRICE=$100
DAY_PASS_STARS=5000
INTIMATE_GALLERY_PRICE=$15
INTIMATE_GALLERY_STARS=750
GIRLFRIEND_ACCESS_PRICE=
GIRLFRIEND_ACCESS_STARS=
GIRLFRIEND_WEEKLY_PRICE=$100
GIRLFRIEND_WEEKLY_STARS=5000
GIRLFRIEND_MONTHLY_PRICE=$250
GIRLFRIEND_MONTHLY_STARS=12500
GODDESS_ACCESS_PRICE=
GODDESS_ACCESS_STARS=
VIP_DEJA_PRICE=
VIP_DEJA_STARS=
DEJA_PHONE_NUMBER=
DEJA_SNAPCHAT_USERNAME=dasiaamess
DEJA_DIRECT_TELEGRAM_USERNAME=dejaxx_a

BOOKING_LINK=
PRIVATE_REQUEST_LINK=
CUSTOM_REQUEST_LINK=
CONTACT_LINK=

MAIN_WEBSITE_LINK=
EXPERIENCE_DEJA_LINK=
LINKME_LINK=
X_LINK=
INSTAGRAM_LINK=
REDDIT_LINK=
TELEGRAM_CHANNEL_LINK=
